.output-control {
  background-color: var(--gray-950);
  border: 1px solid var(--gray-800);
  border-radius: 0.375rem;
  padding: 0;
  display: flex;
  color: var(--white);
  position: relative;

  pre {
    scrollbar-color: #e2e4e980 transparent;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem 3.5rem 1rem 1rem;
    margin: 0;
    overflow: auto hidden;
    width: 100%;
  }

  code {
    color: var(--yellow-400);
    font-family: "IBM Plex Mono", monospace;
  }
}
