.output-control {
  background-color: var(--control-background);
  border: 1px solid var(--control-border);
  border-radius: 0.375rem;
  padding: 0;
  display: flex;
  color: var(--control-text);
  position: relative;

  pre {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 1rem 3.5rem 1rem 1rem;
    margin: 0;
    overflow: auto hidden;
    width: 100%;
  }

  code {
    color: var(--pesel-number);
    font-family: "IBM Plex Mono", monospace;
  }
}
