.output-control {
  background-color: #171823;
  border: 1px solid #3b3f4f;
  border-radius: 0.375rem;
  padding: 0;
  display: flex;
  color: #ffffff;
  position: relative;

  pre {
    scrollbar-color: #e2e4e980 transparent;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem 3.5rem 1rem 1rem;
    margin: 0;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
  }

  code {
    color: #facc15;
  }
}
