:host {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }

  &.app-button-primary {
    background-color: hsl(var(--blue-500));
    color: white;

    &:not([disabled]):hover {
      background-color: hsl(var(--blue-500-accent));
    }
  }

  &.app-button-secondary {
    background-color: var(--gray-500);
    color: white;

    &:not([disabled]):hover {
      background-color: #5a6268;
    }
  }

  &.app-button-danger {
    background-color: var(--red-700);
    color: white;

    &:not([disabled]):hover {
      background-color: var(--red-800);
    }
  }
}
