.card {
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  background-color: var(--card-background);
  border-color: var(--card-border);
  padding: 1.5rem;
  color: var(--card-text);
  margin-bottom: 2rem;
}
