.card {
  border-width: 1px;
  border-radius: 0.5rem;
  border-style: solid;
  background-color: var(--gray-900);
  border-color: var(--gray-800);
  padding: 1.5rem;
  color: var(--gray-100);
  margin-bottom: 2rem;
}
