:root {
  --color-cobalt-50: oklch(97.24% 0.014 247.97deg);
  --color-cobalt-100: oklch(93.63% 0.029 249.76deg);
  --color-cobalt-200: oklch(89.08% 0.053 247.55deg);
  --color-cobalt-300: oklch(82.42% 0.088 244.93deg);
  --color-cobalt-400: oklch(73.52% 0.131 248.88deg);
  --color-cobalt-500: oklch(64.96% 0.169 255.44deg);
  --color-cobalt-600: oklch(57.25% 0.194 260.00deg);
  --color-cobalt-700: oklch(51.10% 0.198 262.40deg);
  --color-cobalt-800: oklch(44.23% 0.164 263.56deg);
  --color-cobalt-900: oklch(39.58% 0.124 262.65deg);
  --color-cobalt-950: oklch(29.17% 0.080 265.23deg);
  --color-golden-tainoi-50: oklch(98.30% 0.019 87.51deg);
  --color-golden-tainoi-100: oklch(95.46% 0.056 89.24deg);
  --color-golden-tainoi-200: oklch(90.80% 0.111 88.37deg);
  --color-golden-tainoi-300: oklch(85.44% 0.152 83.04deg);
  --color-golden-tainoi-400: oklch(81.13% 0.165 74.50deg);
  --color-golden-tainoi-500: oklch(74.12% 0.174 59.13deg);
  --color-golden-tainoi-600: oklch(64.34% 0.173 48.73deg);
  --color-golden-tainoi-700: oklch(53.99% 0.160 42.02deg);
  --color-golden-tainoi-800: oklch(45.91% 0.138 39.46deg);
  --color-golden-tainoi-900: oklch(40.31% 0.116 39.61deg);
  --color-golden-tainoi-950: oklch(27.11% 0.082 39.69deg);
  --color-portage-50: oklch(97.11% 0.010 252.81deg);
  --color-portage-100: oklch(94.78% 0.018 250.59deg);
  --color-portage-200: oklch(90.12% 0.034 255.21deg);
  --color-portage-300: oklch(83.58% 0.056 257.74deg);
  --color-portage-400: oklch(75.17% 0.083 265.20deg);
  --color-portage-500: oklch(68.60% 0.104 269.26deg);
  --color-portage-600: oklch(58.21% 0.136 272.35deg);
  --color-portage-700: oklch(51.50% 0.131 273.23deg);
  --color-portage-800: oklch(45.24% 0.105 272.87deg);
  --color-portage-900: oklch(40.93% 0.075 272.07deg);
  --color-portage-950: oklch(28.58% 0.050 274.82deg);
  --color-cinnabar-50: oklch(97.19% 0.011 17.34deg);
  --color-cinnabar-100: oklch(93.83% 0.026 17.63deg);
  --color-cinnabar-200: oklch(88.80% 0.052 18.18deg);
  --color-cinnabar-300: oklch(81.20% 0.091 19.23deg);
  --color-cinnabar-400: oklch(71.23% 0.149 21.54deg);
  --color-cinnabar-500: oklch(62.48% 0.194 24.72deg);
  --color-cinnabar-600: oklch(56.71% 0.198 26.29deg);
  --color-cinnabar-700: oklch(49.66% 0.177 26.59deg);
  --color-cinnabar-800: oklch(43.71% 0.148 25.82deg);
  --color-cinnabar-900: oklch(39.26% 0.122 24.74deg);
  --color-cinnabar-950: oklch(25.50% 0.081 25.05deg);
  --color-crater-brown-50: oklch(97.48% 0.006 17.27deg);
  --color-crater-brown-100: oklch(94.51% 0.015 17.43deg);
  --color-crater-brown-200: oklch(90.19% 0.027 17.66deg);
  --color-crater-brown-300: oklch(83.11% 0.047 18.14deg);
  --color-crater-brown-400: oklch(73.12% 0.076 19.07deg);
  --color-crater-brown-500: oklch(63.77% 0.103 20.32deg);
  --color-crater-brown-600: oklch(55.75% 0.113 21.35deg);
  --color-crater-brown-700: oklch(48.60% 0.099 21.39deg);
  --color-crater-brown-800: oklch(43.27% 0.084 21.13deg);
  --color-crater-brown-900: oklch(39.44% 0.066 20.46deg);
  --color-crater-brown-950: oklch(32.44% 0.062 21.03deg);
  --color-nile-blue-50: oklch(97.50% 0.006 255.47deg);
  --color-nile-blue-100: oklch(94.49% 0.013 262.38deg);
  --color-nile-blue-200: oklch(88.34% 0.026 253.58deg);
  --color-nile-blue-300: oklch(78.23% 0.050 251.29deg);
  --color-nile-blue-400: oklch(66.53% 0.078 249.07deg);
  --color-nile-blue-500: oklch(57.24% 0.090 249.17deg);
  --color-nile-blue-600: oklch(48.75% 0.086 252.51deg);
  --color-nile-blue-700: oklch(42.11% 0.072 253.71deg);
  --color-nile-blue-800: oklch(38.01% 0.059 252.94deg);
  --color-nile-blue-900: oklch(33.61% 0.047 254.95deg);
  --color-nile-blue-950: oklch(26.33% 0.037 260.00deg);
  --color-blue-50: oklch(95.63% 0.005 286.52deg);
  --color-blue-100: oklch(91.38% 0.008 278.74deg);
  --color-blue-200: oklch(82.94% 0.017 282.27deg);
  --color-blue-300: oklch(73.4% 0.029 283.42deg);
  --color-blue-400: oklch(64.74% 0.039 281.8deg);
  --color-blue-500: oklch(56.19% 0.048 281.86deg);
  --color-blue-600: oklch(47.74% 0.05 280.03deg);
  --color-blue-700: oklch(39.11% 0.041 280.64deg);
  --color-blue-800: oklch(29.48% 0.031 279.11deg);
  --color-blue-900: oklch(20.9% 0.022 280.3deg);
  --color-blue-950: oklch(16.68% 0.017 278.87deg);
  --color-navy-50: oklch(95.7% 0.012 281.17deg);
  --color-navy-100: oklch(92.28% 0.022 283.16deg);
  --color-navy-200: oklch(83.72% 0.046 279.91deg);
  --color-navy-300: oklch(76.21% 0.069 278.16deg);
  --color-navy-400: oklch(67.7% 0.095 276.73deg);
  --color-navy-500: oklch(59.96% 0.118 275.02deg);
  --color-navy-600: oklch(51.64% 0.13 272.28deg);
  --color-navy-700: oklch(43.68% 0.111 272.76deg);
  --color-navy-800: oklch(35.95% 0.091 272.13deg);
  --color-navy-900: oklch(27.13% 0.069 272.93deg);
  --color-navy-950: oklch(23.02% 0.058 272.54deg);
}
