:root {
  --white: #fff;
  --white-alpha-75: rgb(255 255 255 / 75%);
  --black: #000;
  --black-alpha-25: rgb(0 0 0 / 25%);
  --black-alpha-50: rgb(0 0 0 / 50%);
  --black-alpha-75: rgb(0 0 0 / 75%);
  --gray-100: #e6e6e7;
  --indigo-800-alpha: #293253CF;
  --red-500: #fa1d1d;
  --red-600: #e74c3c;
  --red-700: #dc3545;
  --red-800: #c82333;
  --gray-400: #737683;
  --gray-500: #6c757d;
  --gray-700: #4f5363;
  --gray-800: #3b3f4f;
  --gray-850: #2d2f3e;
  --gray-900: #242533;
  --gray-950: #171823;
  --orange-400: #fb923c;
  --orange-500: #f49725;
  --orange-600: #f46725;
  --yellow-400: #facc15;
  --cyan-400: #25c4f4;
  --blue-700: #255ff4;
  --blue-400: #699afc;
  --blue-500-alpha-75: rgb(62 111 244 / 75%);
  --blue-400-alpha: #3e6ff44d;
  --red-400-alpha: rgb(255 78 80 / 40%);
}
