@use "../themes/light" as *;
@use "../themes/dark" as *;

:root {
  @include light-theme;

  --font-sans: "Lato", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --spacing: 0.25rem;

  /* breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* containers */
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  /* text sizes */
  --text-xs: 0.75rem;
  --text-xs-line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm-line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base-line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg-line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl-line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl-line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl-line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl-line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl-line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl-line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl-line-height: 1;
  --text-8xl: 6rem;
  --text-8xl-line-height: 1;
  --text-9xl: 8rem;
  --text-9xl-line-height: 1;

  /* font-weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* radius */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;

  /* shadows */
  --shadow-2xs: 0 1px rgb(0 0 0 / 5%);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  --shadow-xl:
    0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 25%);
  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 5%);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 5%);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 5%);
  --drop-shadow-xs: 0 1px 1px rgb(0 0 0 / 5%);
  --drop-shadow-sm: 0 1px 2px rgb(0 0 0 / 15%);
  --drop-shadow-md: 0 3px 3px rgb(0 0 0 / 12%);
  --drop-shadow-lg: 0 4px 4px rgb(0 0 0 / 15%);
  --drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 10%);
  --drop-shadow-2xl: 0 25px 25px rgb(0 0 0 / 15%);
  --text-shadow-2xs: 0px 1px 0px rgb(0 0 0 / 15%);
  --text-shadow-xs: 0px 1px 1px rgb(0 0 0 / 20%);
  --text-shadow-sm:
    0px 1px 0px rgb(0 0 0 / 7.5%), 0px 1px 1px rgb(0 0 0 / 7.5%),
    0px 2px 2px rgb(0 0 0 / 7.5%);
  --text-shadow-md:
    0px 1px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 10%),
    0px 2px 4px rgb(0 0 0 / 10%);
  --text-shadow-lg:
    0px 1px 2px rgb(0 0 0 / 10%), 0px 3px 2px rgb(0 0 0 / 10%),
    0px 4px 8px rgb(0 0 0 / 10%);

  /* transition types */
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* blurs */
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
}

[data-theme="dark"]:root {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme;
  }
}
