.output-control {
  background-color: var(--control-background);
  border: 1px solid var(--control-border);
  border-radius: 0.375rem;
  padding: 1rem 3rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  color: var(--control-text);
  position: relative;

  @media screen and (width < 640px) {
    min-height: 125px;
  }

  @media screen and (width >= 640px) {
    padding: 1rem 8rem 0.5rem 1rem;
  }
}
