.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.25rem;
  margin: 0.5rem 0;
  width: 200px;
  height: 48px;
  font-size: 1rem;
  background-color: var(--control-background);
  border: 1px solid var(--control-border);
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: none;
  padding: .5rem 0;
  height: 38px;
  color: var(--control-text);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--control-active-background);
  color: var(--control-active-text);
}

.radio-inputs .radio input:focus-visible + .name {
  transition: none;
  outline: 2px solid var(--control-focus-border);
  outline-offset: -2px;
  border-radius: 0.5rem;
}
