<app-card>
  <p>Enter birthday and gender: </p>
  <app-birthday-input [formGroup]="birthdayGroup" />
  @if (birthdayGroup.errors && birthdayGroup.touched) {
    <p>Invalid date — check day, month, and year.</p>
  }
  <button app-button="primary" (click)="generatePesel()" [disabled]="birthdayGroup.errors">Generate</button>
  &nbsp;<span> or </span>&nbsp;
  <button app-button="primary" (click)="generateRandomPesel()">Generate Random</button>
  <br/>
  @if (peselList().length) {
    <p>Generated PESEL(s)</p>
    <app-pesel-output [data]="peselList()"/>
    <button app-button="primary" (click)="clearList()">Clear List</button>
  }
</app-card>
