<app-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p class="label">Enter birthday and sex:</p>
    <app-birthday-input [formGroup]="birthdayGroup" />
    @if (!birthdayGroup.valid) {
      <p class="validation-label">Please provide a valid birthdate.</p>
    }
    <button
      app-button="primary"
      type="submit"
      [disabled]="!birthdayGroup.valid"
    >
      Generate
    </button>
    &nbsp;<span> or </span>&nbsp;
    <button app-button="primary" type="button" (click)="generateRandomPesel()">
      Generate Random
    </button>
    <br />
    @let pesels = peselList();
    @if (pesels.length) {
      <p class="label">Generated PESEL{{ pesels.length > 1 ? "s" : "" }}:</p>
      <app-pesel-output [data]="pesels" />
      <button app-button="primary" type="button" (click)="clearList()">
        Clear List
      </button>
    }
  </form>
</app-card>
