<app-section>
  <h1>PESEL Parser</h1>
  <app-card>
    <p>Enter PESEL for parsing</p>
    <form [formGroup]="form">
      <app-pesel-input formControlName="pesel" (paste)="onPaste($event)"></app-pesel-input>

      @if (peselControl?.errors && peselControl?.touched) {
        <div class="error">
          @if (peselControl?.errors?.['required']) {
            <p>Please enter PESEL to parse ;)</p>
          }
          @if (peselControl?.errors?.['peselInvalidFormat']) {
            <p>Wrong PESEL format (should be 11 digits)</p>
          }
          @if (peselControl?.errors?.['peselInvalidChecksum']) {
            <p>Incorrect checksum</p>
          }
          @if (peselControl?.errors?.['peselInvalidDate']) {
            <p>Incorrect DOB</p>
          }
          @if (peselControl?.errors?.['peselUnknownError']) {
            <p>Unknown error</p>
          }
        </div>
      }
    </form>
    <app-result-output [data]="parsedData()" />
  </app-card>
  <app-card>
    <app-disclaimer/>
  </app-card>
</app-section>
