:host {
  z-index: 1;
  top: 0.625rem;
  right: 0.625rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media screen and (width >= 640px) {
    flex-direction: row;
  }
}
