.input-control {
  position: relative;
  background-color: #171823;
  border: 1px solid #3b3f4f;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  display: flex;
  color: #fff;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus-within {
    border-color: #699afc;
    box-shadow: 0 0 0 4px #3e6ff44d;
  }
}

input {
  outline: none;
  background-color: transparent;
  flex: 1 1 0;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 1.25rem;
  width: 100%;
}
