:host {
  font-size: 1rem;
}

a {
  color: var(--card-text);
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
