<div class="disclaimer">
  <p>
    This website/application is not affiliated with any government institution.
  </p>
  <p>This tool is intended for <strong>educational, developer and demonstration purposes only</strong>.
    Use it at your own discretion and <strong>do not use real PESEL numbers in sensitive environments</strong>.
  </p>
  <p>
    This application <strong>does not collect, store, or transmit</strong> your <strong>PESEL</strong> number or any personal data to any server.
    All processing happens entirely in your browser and stays on your device.
  </p>
  <p>
    You can view or inspect the <a target="_blank" rel="noopener noreferrer" href="https://github.com/raindrop-ua/pesel-parser">full source code here</a> to verify how it works.
  </p>
</div>
