footer {
  background-color: var(--footer-background);
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  color: var(--footer-text);
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  line-height: var(--text-lg-line-height);

  > div {
    display: flex;
  }

  svg {
    margin-left: 0.5rem;
    color: var(--footer-attention);
  }
}

.navigation {
  menu {
    list-style: none;
    padding: 0;
    display: none;
    margin-left: 2rem;
    gap: 1rem;

    .link {
      color: var(--footer-text);
      font-size: var(--text-lg);
      line-height: var(--text-lg-line-height);
      text-decoration: none;

      &.active,
      &:hover {
        color: var(--footer-link-active);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
      }
    }

    @media screen and (width >= 641px) {
      display: flex;
    }
  }
}
