footer {
  background-color: hsl(var(--blue-500) / 0.15);
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  color: #ffffff;
  font-size: 0.75rem;
}
