footer {
  background-color: hsl(var(--blue-500) / 15%);
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  color: var(--white);
  font-size: 1rem;

  > div {
    display: flex;
  }

  svg {
    margin-left: 0.5rem;
    color: var(--red-500);
  }
}

.navigation {
  menu {
    list-style: none;
    padding: 0;
    display: none;
    margin-left: 2rem;
    gap: 1rem;

    a {
      color: var(--white);
      font-size: 1rem;
      text-decoration: none;

      &.active,
      &:hover {
        color: var(--orange-400);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
      }
    }

    @media screen and (width >= 641px) {
      display: flex;
    }
  }
}
