.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (width >= 640px) {
    gap: 1rem;
    flex-direction: row;
  }

}

.dob {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.gender {

}


.input-s {
  width: 65px;
}

.input-l {
  width: 85px;
}

