header {
  background-color: var(--header-background);
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  gap: 1rem;

  .main-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.logo {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: var(--header-text);

  @media screen and (width >= 640px) {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-right: 1.5rem;
  }

  a.logo-link {
    display: block;
    color: var(--header-text);
    text-decoration: none;
  }
}

.navigation {
  menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 1rem;

    @media screen and (width >= 768px) {
      display: flex;
    }

    .link {
      display: block;
      color: var(--header-text);
      font-weight: bold;
      text-decoration: none;
      text-underline-offset: 5px;
      text-decoration-thickness: 3px;
      transition: text-underline-offset 0.3s ease;
      font-size: 1rem;
      line-height: 1.25rem;

      @media screen and (width >= 640px) {
        font-size: 1.125rem;
        line-height: 1.25rem;
      }

      &.active {
        color: var(--header-link-active);
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;

  .line {
    width: 24px;
    height: 2px;
    background-color: var(--header-text);
    transition: 0.3s ease;
  }

  @media (width >= 768px) {
    display: none;
  }
}

.mobile-navigation {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: var(--header-background-secondary);
  backdrop-filter: blur(5px);
  padding: 1rem;
  z-index: 100;
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-25);

  @media (width >= 768px) {
    display: none;
  }

  menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  li {
    list-style: none;
    padding: 0;
  }

  a.link {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--header-text);
    text-decoration: none;

    &.active {
      color: var(--header-link-active);
      text-decoration: underline;
      text-underline-offset: 5px;
      text-decoration-thickness: 2px;
    }
  }
}

.overlay {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: var(--shadow-50);
  z-index: 5;
  backdrop-filter: blur(5px);


  @media (width >= 768px) {
    display: none;
  }
}
