:host {
}

header {
  background-color: hsl(var(--blue-500) / 0.15);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
}

.logo {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: #e6e6e7;
  margin-right: 1.5rem;

  @media screen and (min-width: 640px) {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  a {
    display: block;
    color: #e6e6e7;
    text-decoration: none;
  }
}

menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  li {
  }

  a {
    display: block;
    color: #e6e6e7;
    font-weight: bold;
    text-decoration: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    transition: text-underline-offset 0.3s ease;
    font-size: 1rem;
    line-height: 1.25rem;

    @media screen and (min-width: 640px) {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    &.active {
      color: #fb923c;
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
}

