.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (width >= 640px) {
    flex-direction: row;
  }
}

.dob {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;

  .day,
  .month {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.75rem;
      right: -0.75rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: var(--card-border);
    }
  }
}

.sex {
  position: relative;
}

.input-s {
  width: 65px;
}

.input-l {
  width: 85px;
}
