.pesel-wrapper {
  text-align: center;
  padding: 2.5rem;
  background: var(--masthead-gradient);
  border: 1px solid var(--card-border);
  color: var(--card-text);
  border-radius: 0.75rem;
  max-width: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    filter: url("#grain") contrast(180%) brightness(100%);
    mix-blend-mode: overlay;
    opacity: 0.33;
  }
}

.title {
  margin-bottom: 0.25rem;
}

.pesel {
  color: var(--pesel-number-moment);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-2xl);
  line-height: var(--text-2xl-line-height);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  @media screen and (width >= 412px) {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl-line-height);
  }
}

.digit {
  display: inline-block;
  width: 1ch;
  text-align: center;
  font-family: var(--font-mono), monospace;
  font-weight: var(--font-weight-bold);
  font-variant-numeric: tabular-nums;
  transition: transform 0.1s ease;
}

.digit.enter {
  transform: translateY(-100%);
}

.digit.leave {
  transform: translateY(100%);
}
