.pesel-wrapper {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(
      135deg,
      #141a37 0%,
      #253260 50%,
      #141a37 100%);
  border: 1px solid var(--gray-800);
  color: #fff;
  border-radius: 0.75rem;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.pesel {
  font-size: 2rem;
  color: var(--yellow-400);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.digit {
  display: inline-block;
  width: 1ch;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  transition: transform 0.1s ease;
}

.digit.enter {
  transform: translateY(-100%);
}

.digit.leave {
  transform: translateY(100%);
}
