.pesel-wrapper {
  text-align: center;
  padding: 2rem;
  background: var(--masthead-gradient);
  border: 1px solid var(--card-border);
  color: var(--card-text);
  border-radius: 0.75rem;
  max-width: 500px;
  margin: auto;
  position: relative;
}

.pesel {
  font-size: 2rem;
  color: var(--pesel-number-moment);
  font-weight: 500;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.digit {
  display: inline-block;
  width: 1ch;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  transition: transform 0.1s ease;
}

.digit.enter {
  transform: translateY(-100%);
}

.digit.leave {
  transform: translateY(100%);
}

.toolbar {
  z-index: 1;
  top: 0.625rem;
  right: 0.625rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
