.masthead {
  background: var(--blue-gradient);
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.75rem;
  color: var(--white);
  border-radius: 1rem;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1.5rem;

  @media screen and (width >= 540px) {
    justify-content: center;
    font-size: 3rem;
    line-height: 3.5rem;
    height: 380px;
  }

  @media screen and (width >= 768px) {
    margin-top: 2rem;
    height: 400px;
    padding-left: 2rem;
    font-size: 4rem;
    line-height: 5rem;
  }
}

.pulses {
  position: absolute;
  top: 45%;
  right: 200px;
  transform: translateY(-50%) scale(2);
  pointer-events: none;

  @media screen and (width >= 540px) {
    right: 45%;
    transform: translateY(-50%) scale(3);
  }
}

.pulse-circle {
  position: absolute;
  border: 2px solid var(--red-400-alpha);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: pulse-circle 3s infinite ease-in-out;
  opacity: 0.6;
}

.circle-1 {
  animation-delay: 0s;
  width: 40px;
  height: 40px;
}

.circle-2 {
  animation-delay: 1s;
  width: 60px;
  height: 60px;
  top: -10px;
  left: -10px;
}

.circle-3 {
  animation-delay: 2s;
  width: 80px;
  height: 80px;
  top: -20px;
  left: -20px;
}

@keyframes pulse-circle {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

.dot {
  color: var(--red-600);
  display: inline-block;
  animation: flicker 1.2s infinite;
  font-size: 5rem;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 80%, 100% {
    opacity: 1;
  }

  20%, 22%, 24%, 81% {
    opacity: 0.1;
  }
}

.float {
  position: relative;
  white-space: nowrap;
  display: block;
  z-index: 1;
}

.float-1 {
  left: 0.75rem;

  @media screen and (width >= 540px) {
    left: 0.75rem;
  }
}

.float-2 {
  left: 2rem;
  margin-bottom: -1rem;

  @media screen and (width >= 540px) {
    left: 3rem;
  }
}

.float-3 {
  left: 0;

  @media screen and (width >= 540px) {
    left: 0;
  }
}

img {
  position: absolute;
  display: block;
  bottom: 0;
  right: -100px;
  min-width: 360px;
  width: 360px;
  height: 360px;
  transition: transform 0.2s ease-out;
  will-change: transform;

  @media screen and (width >= 540px) {
    min-width: 400px;
    width: 400px;
    height: 400px;
    right: -50px;
  }

  @media screen and (width >= 768px) {
    min-width: 440px;
    width: 440px;
    height: 440px;
    right: 0;
  }
}
