.input-control {
  position: relative;
  background-color: var(--control-background);
  border: 1px solid var(--control-border);
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  display: flex;
  color: var(--control-text);
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus-within {
    border-color: var(--control-focus-border);
    box-shadow: 0 0 0 4px var(--control-focus-shadow);
  }
}

input {
  outline: none;
  background-color: transparent;
  flex: 1 1 0;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 1.25rem;
  width: 100%;
}
