:host {
  display: block;
}

button {
  background-color: var(--gray-950);
  color: var(--gray-400);
  border: 1px solid var(--gray-800);
  border-radius: 0.25rem;
  z-index: 10;
  top: 0.625rem;
  right: 0.625rem;
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 200ms ease;

  &:hover {
    background-color: var(--gray-850);
    border-color: var(--gray-700);
    color: var(--white)fffb3;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
