.result {
  font-size: 1.125rem;
  background-color: var(--control-background);
  border: 1px solid var(--control-border);
  border-radius: 0.375rem;
  padding: 1rem 3.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  color: var(--control-text);
  position: relative;
}
