<div class="flex h-full items-center justify-center">
  <svg
    class="size-24 motion-reduce:[&_circle]:[stroke-dasharray:80_580]"
    width="240"
    height="240"
    viewBox="0 0 240 240"
  >
    <circle
      class="motion-safe:animate-ring-a stroke-(--color-golden-tainoi-600)"
      cx="120"
      cy="120"
      r="105"
      fill="none"
      stroke="#000"
      stroke-width="20"
      stroke-dasharray="0 660"
      stroke-dashoffset="-330"
      stroke-linecap="round"
    ></circle>
    <circle
      class="motion-safe:animate-ring-b stroke-(--color-golden-tainoi-400)"
      cx="120"
      cy="120"
      r="35"
      fill="none"
      stroke="#000"
      stroke-width="20"
      stroke-dasharray="0 220"
      stroke-dashoffset="-110"
      stroke-linecap="round"
    ></circle>
    <circle
      class="motion-safe:animate-ring-c stroke-(--color-cobalt-600)"
      cx="85"
      cy="120"
      r="70"
      fill="none"
      stroke="#000"
      stroke-width="20"
      stroke-dasharray="0 440"
      stroke-linecap="round"
    ></circle>
    <circle
      class="motion-safe:animate-ring-d stroke-(--color-portage-500)"
      cx="155"
      cy="120"
      r="70"
      fill="none"
      stroke="#000"
      stroke-width="20"
      stroke-dasharray="0 440"
      stroke-linecap="round"
    ></circle>
  </svg>
</div>
