@use "app/styles/fonts";
@use "app/styles/main";

html,
html * {
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--main-background);
  color: var(--main-text);
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
