@use "app/styles/main";

html, html * {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  background-color: var(--main-background);
  color: var(--main-text);
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a, button {
  outline: none;
  position: relative;

  &:focus-visible {
    transition: none;
    border-radius: 0.5rem;
    outline: 2px solid transparent;
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    inset: -8px;
    border: 2px solid rgb(62 111 244 / 30%);
    border-radius: 1rem;
    pointer-events: none;
  }
}
