@use "reset";
@use "themes";

:root {
  --container-max-width: 1200px;
}

html, body {
  overflow-x: hidden;
}

:root {
  --pesel-grayple-900: 234 18% 17%;
  --neutral-100: var(--gray-100);
  --bg-card: var(--pesel-grayple-900);
  --border-card: var(--neutral-300);

  --pesel-blue-500: 224 89% 60%;
  --pesel-blue-500-accent-hover: var(--pesel-blue-500) / 0.9;

  --blue-500: var(--pesel-blue-500);
  --blue-500-accent: var(--pesel-blue-500-accent-hover);
}


html, html * {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

html, body {
  margin: 0;
  background-color: #171823;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a, button {
  outline: none;
  position: relative;

  &:focus-visible {
    transition: none;
    border-radius: 0.5rem;
    outline: 2px solid transparent;
  }

  &:focus-visible::after {
    content: '';
    position: absolute;
    inset: -8px;
    border: 2px solid rgba(62, 111, 244, 0.3);
    border-radius: 1rem;
    pointer-events: none;
  }
}
