code {
  font-family: var(--font-mono), monospace;
  font-weight: var(--font-weight-bold);
  color: var(--pesel-number);
  overflow: auto;
}

table {
  tr {
    td {
      padding: 0.5rem 0.5rem 0.5rem 0;
    }
  }
}
